<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="cszi.com">
      <section name="log" type="CS.Configuration.LoggerSection, CS.Utility" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!-- 基于CS.Utility的SectionGroupName 如果不存在为默认的cszi.com -->
    <add key="CS.Utility.SectionGroupName" value="cszi.com"/>
  </appSettings>
  
  
</configuration>