<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      >

  <!--定义日志的目标/输出-->
  <targets async="true">

    <default-target-parameters
        type="File"
        archiveAboveSize="50485760"
        maxArchiveFiles="50"
        archiveNumbering="Rolling"
        keepFileOpen="false"
        layout="${date:format=HH\:mm\:ss\:ffff}:[${level}] ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"/>

    <!--屏幕彩色打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss\:ffff}:[${level}] ${message}"/>


    <!--保存至文件 | ${level:uppercase=false:padding=-5} | -->
    <target name="file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/../logs/${date:format=yyyy_MM}/${date:format=yyyy_MM_dd}_${logger}_${level}.txt"
                    layout="${date:format=HH\:mm\:ss\:ffff}: ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}" />

    <!-- 发送邮件   -->
    <target name="email" xsi:type="Mail"
                header=""
                footer="--------------------------------------------------------"
                layout="${longdate} ${level} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
                html="false"
                addNewLines="true"
                subject="NLog日志-异常通知${longdate}"
                to="dev@cszi.com"
                from="WatchDog&lt;swarmtask@163.com&gt;"
                body="${longdate}:[${level}] ${message} ${newline}${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}${newline}"
                smtpUserName="swarmtask@163.com"
                enableSsl="false"
                smtpPassword="zffkesxwogloijgm"
                smtpAuthentication="Basic"
                smtpServer="smtp.163.com"
                smtpPort="25" />


    <target name="csv" xsi:type="File" fileName="${basedir}/file.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
  </targets>

  <!--
  路由规则rule
  name - 记录者的名字 (允许使用通配符*)
  minlevel - 匹配日志范围的最低级别
  maxlevel - 匹配日志范围的最高级别
  level - 匹配的单一日志级别
  levels - 匹配的一系列日志级别，由逗号分隔。
  writeTo - 规则匹配时日志应该被写入的一系列目标，由逗号分隔。
  -->
  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="csv" />-->
    <logger name="*" minlevel="Trace" writeTo="console,file" />


    <logger name="*" minlevel="Warn" writeTo="email" />
  </rules>
</nlog>